/* 小黄人样式 */
.music-img {
  position: absolute;
  top: 30px;
  left: 20px;
  width: 100px;
  z-index: 999;
}
/* 自适应flex */
.flex-wrapper {
  display: flex;
  justify-content: space-around;
}
/* 透明度0 */
.hidden {
  opacity: 0;
}
/* 抖动动画 */
.shake-animation {
  animation-name: shaky-slow;
  /* 动画执行时间 */
  animation-duration: 2s;
  /* 动画等待时间		 */
  animation-delay: 0s;
  /* 动画执行次数，infinite为一直执行	*/
  animation-iteration-count: 1;
  /* 动画执行速度 */
  animation-timing-function: ease-in-out;
  /* 动画延时时间 */
  animation-delay: 0s;
  /* 动画执行状态，一般没必要parse*/
  animation-play-state: running;
}
/* 放大动画 */
.shake-ampliflvation {
  animation-name: ampliflvation;
  /* 动画执行时间 */
  animation-duration: 2s;
  /* 动画等待时间		 */
  animation-delay: 0s;
  /* 动画执行次数，infinite为一直执行	*/
  animation-iteration-count: 1;
  /* 动画执行速度 */
  animation-timing-function: ease-in-out;
  /* 动画延时时间 */
  animation-delay: 0s;
  /* 动画执行状态，一般没必要parse*/
  animation-play-state: running;
}
/* 放大动画 */
.shake-opacity {
  animation-name: opacity;
  /* 动画执行时间 */
  animation-duration: 2s;
  /* 动画等待时间		 */
  animation-delay: 0s;
  /* 动画执行次数，infinite为一直执行	*/
  animation-iteration-count: 1;
  /* 动画执行速度 */
  animation-timing-function: ease-in-out;
  /* 动画延时时间 */
  animation-delay: 0s;
  /* 动画执行状态，一般没必要parse*/
  animation-play-state: running;
}
