@keyframes shaky-slow {
  0% {
    transform: rotate(0deg);
  }
  2% {
    transform: rotate(1.5deg);
  }
  4% {
    transform: rotate(-0.5deg);
  }
  6% {
    transform: rotate(-2deg);
  }
  8% {
    transform: rotate(-1.5deg);
  }
  10% {
    transform: rotate(-2deg);
  }
  12% {
    transform: rotate(-2deg);
  }
  14% {
    transform: rotate(1.5deg);
  }
  16% {
    transform: rotate(-1.5deg);
  }
  18% {
    transform: rotate(-2deg);
  }
  20% {
    transform: rotate(-0.5deg);
  }
  22% {
    transform: rotate(-2deg);
  }
  24% {
    transform: rotate(2deg);
  }
  26% {
    transform: rotate(0.5deg);
  }
  28% {
    transform: rotate(-1.5deg);
  }
  30% {
    transform: rotate(-1.5deg);
  }
  32% {
    transform: rotate(2deg);
  }
  34% {
    transform: rotate(-0.5deg);
  }
  36% {
    transform: rotate(1.5deg);
  }
  38% {
    transform: rotate(1.5deg);
  }
  40% {
    transform: rotate(-0.5deg);
  }
  42% {
    transform: rotate(-0.5deg);
  }
  44% {
    transform: rotate(0.5deg);
  }
  46% {
    transform: rotate(-0.5deg);
  }
  48% {
    transform: rotate(1.5deg);
  }
  50% {
    transform: rotate(1.5deg);
  }
  52% {
    transform: rotate(0.5deg);
  }
  54% {
    transform: rotate(-2deg);
  }
  56% {
    transform: rotate(-2deg);
  }
  58% {
    transform: rotate(0.5deg);
  }
  60% {
    transform: rotate(-0.5deg);
  }
  62% {
    transform: rotate(-1.5deg);
  }
  64% {
    transform: rotate(-2deg);
  }
  66% {
    transform: rotate(0.5deg);
  }
  68% {
    transform: rotate(-2deg);
  }
  70% {
    transform: rotate(1.5deg);
  }
  72% {
    transform: rotate(2deg);
  }
  74% {
    transform: rotate(-0.5deg);
  }
  76% {
    transform: rotate(-0.5deg);
  }
  78% {
    transform: rotate(2deg);
  }
  80% {
    transform: rotate(2deg);
  }
  82% {
    transform: rotate(-0.5deg);
  }
  84% {
    transform: rotate(-2deg);
  }
  86% {
    transform: rotate(-2deg);
  }
  88% {
    transform: rotate(-1.5deg);
  }
  90% {
    transform: rotate(-2deg);
  }
  92% {
    transform: rotate(2deg);
  }
  94% {
    transform: rotate(-2deg);
  }
  96% {
    transform: rotate(-2deg);
  }
  98% {
    transform: rotate(-0.5deg);
  }
}
@keyframes ampliflvation {
  0% {
    transform: scale(1); /*开始为原始大小*/
  }
  25% {
    transform: scale(1.5); /*放大1.1倍*/
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes opacity {
  0% {
    opacity: 0; /*开始为原始大小*/
  }
  100% {
    opacity: 1;
  }
}
